/* font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100&display=swap');

/* reset css style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* renk paleti */
:root{
    /* light mode */
    --lightMode-main-back-color: #fff;
    --lightMode-main-text-color: #000;
    --lightMode-back-color-1: #333333;
    --lightMode-back-color-2: #151515;
    
    --lightMode-link-text-color-1: #0084ff;
    --lightMode-link-text-color-2: #000;

    /* dark mode */
    --darkMode-main-back-color: #000;
    --darkMode-main-text-color: #fff;
}

/* navbar bölümü --------------------------------------------------------------------------------------------------- */
.page_navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

/* sayfa logosu */
.page_logo{
    width: 20%;
    height: 20%;
}

/* link ul */
.page_navbar_ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

/* link özellikleri */
.page_navbar_ul_link{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;      
    color: var(--lightMode-link-text-color-2);
    transition: 500ms;
}
.page_navbar_ul_link_active{color: var(--lightMode-link-text-color-1);}
.page_navbar_ul_link:hover{opacity: 0.7;}

/* hamburger test */
@media screen and (max-width: 768px){
    .page_navbar{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }

    .page_navbar_ul{
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }
}